.home {
  margin: 2rem 2rem;
  text-align: left;
}

.home ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.home button:hover {
  background-color: #0056b3;
}

.home label {
  margin-left: 1rem;
}

.cacheMessages {
  margin-top: 2rem;
  border-top: 3px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cacheMessages button {
  margin-top: 0;
  margin: auto;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 3rem;
  margin: 2rem auto;
  justify-content: center;
}
