.cards {
  border: 2px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: rgb(12, 247, 255);
  overflow: hidden;
}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  background-color: rgb(12, 170, 255);
}

.cardBody {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardTitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
